<div class="container">
    <div id="services">
        <div class="services-header">
            <span class="title">Filter by service or route</span>

            <mat-button-toggle-group name="filters" aria-label="Filters" [formControl]="showFilter"
                                     (change)="changeFilter()" [hideMultipleSelectionIndicator]="true" multiple>
                <mat-button-toggle value="service" class="toggler"
                                   [matTooltip]="showServices ? 'Hide Service filters' : 'Show Service filters'">S
                </mat-button-toggle>
                <mat-button-toggle value="route" class="toggler"
                                   [matTooltip]="showServices ? 'Hide Route filters' : 'Show Route filters'">R
                </mat-button-toggle>
            </mat-button-toggle-group>
            <button mat-icon-button (click)="cleanFilters()" matTooltip="Clean filters">
                <mat-icon>cleaning_services</mat-icon>
            </button>
        </div>

        <mat-selection-list #seloptions class="sel-list" [formControl]="selection" name="selection"
                            (selectionChange)="selectionChange(seloptions.selectedOptions.selected)">
            @for (option of optionsList; track option) {
                <mat-list-option [value]="option.id" class="sel-option {{option.kind}}"
                                 [matTooltip]="option.desc" matTooltipPosition="right"
                                 [ngClass]="{'hidden': hideFilter(option.kind), 'thin': filtersSize('thin'), 'min': filtersSize('min')}">
                    <span matListItemTitle>{{ option.name }}</span>
                    <span matListItemLine class="opt-line">{{ option.desc }}</span>
                </mat-list-option>
            }
        </mat-selection-list>
    </div>
    <div id="graph">
    </div>
</div>

<div class="loadbar" [ngClass]="{'hidden': !loading}">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <div class="loading">
        <p>Loading . . .</p>
    </div>
</div>
